@model IEnumerable<CrudTest.Entities.Category>


<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (Model != null)
        {
            foreach (var category in Model)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Category" asp-route-id="@category.Id">@category.Name<span class="badge pull-right">@category.NewsCount</span></a>
                </li>
            }
        }
    </ul>
</div>
